/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.4.7/";
}

/* line 351, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 356, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 361, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 366, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 371, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 376, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 383, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 386, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 392, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 396, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 409, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 412, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 414, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 418, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 425, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 426, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 430, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

/* line 436, ../bower_components/foundation/scss/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 442, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 445, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 455, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 458, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 118, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs {
  display: block;
  padding: 0.5625rem 0.875rem 0.5625rem;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #f4f4f4;
  border-color: gainsboro;
  border-radius: 3px;
}
/* line 122, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > * {
  margin: 0;
  float: left;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  text-transform: uppercase;
  color: #008CBA;
}
/* line 68, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
  text-decoration: underline;
}
/* line 70, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > * a {
  color: #008CBA;
}
/* line 75, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.current {
  cursor: default;
  color: #333333;
}
/* line 78, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.current a {
  cursor: default;
  color: #333333;
}
/* line 83, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.current:hover, .breadcrumbs > *.current:hover a, .breadcrumbs > *.current:focus, .breadcrumbs > *.current:focus a {
  text-decoration: none;
}
/* line 88, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.unavailable {
  color: #999999;
}
/* line 90, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.unavailable a {
  color: #999999;
}
/* line 92, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *.unavailable:hover, .breadcrumbs > *.unavailable:hover a, .breadcrumbs > *.unavailable:focus,
.breadcrumbs > *.unavailable a:focus {
  text-decoration: none;
  color: #999999;
  cursor: default;
}
/* line 102, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *:before {
  content: "/";
  color: #AAAAAA;
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
}
/* line 110, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
.breadcrumbs > *:first-child:before {
  content: " ";
  margin: 0;
}

/* Accessibility - hides the forward slash */
/* line 130, ../bower_components/foundation/scss/foundation/components/_breadcrumbs.scss */
[aria-label="breadcrumbs"] [aria-hidden="true"]:after {
  content: "/";
}

/* line 448, icons/*.png */
.icons-sprite, .icons-air-ticket, .icons-air, .icons-application, .icons-bank, .icons-bus-tour, .icons-bus, .icons-calendar, .icons-cash, .icons-check, .icons-condition, .icons-cost, .icons-cruise, .icons-education-community, .icons-education-documents, .icons-education-location, .icons-english-flag, .icons-facebook, .icons-favorites, .icons-form-callback-person, .icons-form-callback-phone, .icons-gallery, .icons-google, .icons-hotel, .icons-instagram, .icons-label, .icons-mail, .icons-mailru, .icons-mastercard, .icons-odnoklassniki, .icons-paypal, .icons-phone, .icons-privat, .icons-programms, .icons-reviews, .icons-select-tour, .icons-star, .icons-tic-tac, .icons-train, .icons-twitter, .icons-visa, .icons-vk {
  background-image: url('../images/icons-s90bc72a9e7.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-air-ticket {
  background-position: 0 0;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-air {
  background-position: 0 -40px;
  height: 27px;
  width: 27px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-application {
  background-position: 0 -67px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bank {
  background-position: 0 -83px;
  height: 36px;
  width: 39px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus-tour {
  background-position: 0 -391px;
  height: 68px;
  width: 68px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus-tour:hover, .icons-bus-tour.bus-tour-hover {
  background-position: 0 -323px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus-tour:active, .icons-bus-tour.bus-tour-active {
  background-position: 0 -255px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus {
  background-position: 0 -459px;
  height: 68px;
  width: 68px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus:hover, .icons-bus.bus-hover {
  background-position: 0 -187px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bus:active, .icons-bus.bus-active {
  background-position: 0 -119px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calendar {
  background-position: 0 -527px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cash {
  background-position: 0 -543px;
  height: 37px;
  width: 36px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-check {
  background-position: 0 -580px;
  height: 14px;
  width: 19px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-condition {
  background-position: 0 -594px;
  height: 12px;
  width: 18px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cost {
  background-position: 0 -606px;
  height: 13px;
  width: 21px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cruise {
  background-position: 0 -755px;
  height: 68px;
  width: 68px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cruise:hover, .icons-cruise.cruise-hover {
  background-position: 0 -687px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cruise:active, .icons-cruise.cruise-active {
  background-position: 0 -619px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-education-community {
  background-position: 0 -823px;
  height: 24px;
  width: 24px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-education-documents {
  background-position: 0 -847px;
  height: 26px;
  width: 20px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-education-location {
  background-position: 0 -873px;
  height: 28px;
  width: 18px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-english-flag {
  background-position: 0 -901px;
  height: 18px;
  width: 28px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -919px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-favorites {
  background-position: 0 -948px;
  height: 24px;
  width: 25px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-form-callback-person {
  background-position: 0 -972px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-form-callback-phone {
  background-position: 0 -988px;
  height: 16px;
  width: 12px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gallery {
  background-position: 0 -1004px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-google {
  background-position: 0 -1020px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hotel {
  background-position: 0 -1185px;
  height: 68px;
  width: 68px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hotel:hover, .icons-hotel.hotel-hover {
  background-position: 0 -1117px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hotel:active, .icons-hotel.hotel-active {
  background-position: 0 -1049px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-instagram {
  background-position: 0 -1253px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-label {
  background-position: 0 -1282px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -1322px;
  height: 12px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mailru {
  background-position: 0 -1334px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mastercard {
  background-position: 0 -1363px;
  height: 37px;
  width: 61px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-odnoklassniki {
  background-position: 0 -1400px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-paypal {
  background-position: 0 -1429px;
  height: 29px;
  width: 104px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -1458px;
  height: 16px;
  width: 12px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-privat {
  background-position: 0 -1474px;
  height: 39px;
  width: 37px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-programms {
  background-position: 0 -1513px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reviews {
  background-position: 0 -1529px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-select-tour {
  background-position: 0 -1545px;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-star {
  background-position: 0 -1585px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tic-tac {
  background-position: 0 -1601px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-train {
  background-position: 0 -1753px;
  height: 68px;
  width: 68px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-train:hover, .icons-train.train-hover {
  background-position: 0 -1685px;
}
/* line 59, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-train:active, .icons-train.train-active {
  background-position: 0 -1617px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -1821px;
  height: 29px;
  width: 29px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-visa {
  background-position: 0 -1850px;
  height: 36px;
  width: 56px;
}

/* line 84, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vk {
  background-position: 0 -1886px;
  height: 29px;
  width: 29px;
}

/* line 2, ../scss/base/_base.scss */
body {
  height: auto;
  background-color: #f1f1f1;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  background-position: top;
  font-size: 14px;
}

/* line 14, ../scss/base/_base.scss */
button {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  position: relative;
  line-height: 1;
  padding: 2px 10px;
  margin: 0 10px;
  height: 21px;
  font-size: 14px;
  background: #f7941d;
  cursor: pointer;
  color: #fff;
}
/* line 35, ../scss/base/_base.scss */
button:focus {
  outline: 0;
  background-color: #39a2d8;
}
/* line 40, ../scss/base/_base.scss */
button:hover {
  background-color: #39a2d8;
}

/* line 45, ../scss/base/_base.scss */
h1,
h2 {
  margin-bottom: 10px;
  font-family: 'PFDinTextCondPro';
  color: #000000;
  font-size: 26px;
}

/* line 54, ../scss/base/_base.scss */
main {
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  background: #fff;
}

/* line 1, ../scss/layouts/_wrapper.scss */
.row {
  position: relative;
  padding: 0 1.25rem;
}

/* line 7, ../scss/layouts/_wrapper.scss */
.row .row {
  min-width: 0;
}

/* line 11, ../scss/layouts/_wrapper.scss */
.row .row .row {
  min-width: 0;
}

/* line 14, ../scss/layouts/_wrapper.scss */
.l-page-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  min-width: 885px;
}

/* line 1, ../scss/layouts/_tools.scss */
.inline-block {
  display: inline-block;
  line-height: 1;
}

/* line 7, ../scss/layouts/_tools.scss */
i[class^="icons"] {
  display: inline-block;
  vertical-align: bottom;
}

/* line 1, ../scss/layouts/_header.scss */
.l-header {
  min-height: 6.25rem;
  background: url(../images/sky-gradient.png);
  background-size: 100%;
  background-position: top;
  z-index: 9 !important;
}

/* line 1, ../scss/layouts/_search-options.scss */
.l-search-options {
  display: block;
  margin-top: 1.4375rem;
  padding: 1.4375rem 0 1.75rem 0;
  background: url(../images/education-form-bg.png) #cfefff;
}

/* line 1, ../scss/layouts/_articles-wrapper.scss */
.l-articles-wrapper {
  margin-top: 3%;
  margin-right: 2%;
  margin-bottom: 3%;
  width: 72%;
}
/* line 9, ../scss/layouts/_articles-wrapper.scss */
.l-articles-wrapper .more-articles button {
  margin: 0;
  background: #219cd7;
}

/* line 1, ../scss/layouts/_sidebar.scss */
.l-sidebar {
  display: inline-block;
  margin-top: 3%;
  vertical-align: top;
  width: 25%;
}

/* line 1, ../scss/layouts/_megamenu.scss */
.l-wrap-megamenu {
  float: right;
  margin-top: 25px;
  width: 58%;
}

/* line 1, ../scss/layouts/_statistic.scss */
.l-statistic {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px #a2a2a2 dotted;
  clear: both;
}

/* line 1, ../scss/modules/_footer.scss */
.m-footer {
  position: relative;
  min-height: 3.75rem;
  padding: 0.9375rem 0;
  background-color: #96dbfc;
}
/* line 9, ../scss/modules/_footer.scss */
.m-footer-phone {
  margin-left: 1.625rem;
  margin-right: 1.0625rem;
}
/* line 14, ../scss/modules/_footer.scss */
.m-footer-mail i {
  width: 1rem;
  height: 0.75rem;
  display: inline-block;
  vertical-align: bottom;
}
/* line 21, ../scss/modules/_footer.scss */
.m-footer-social {
  margin-left: 1.625rem;
}
/* line 24, ../scss/modules/_footer.scss */
.m-footer-social-icon-conainer {
  display: inline-block;
  float: left;
  margin-left: 0.625rem;
}
/* line 29, ../scss/modules/_footer.scss */
.m-footer-social-icon-conainer:first-child {
  margin-left: 0;
}
/* line 33, ../scss/modules/_footer.scss */
.m-footer-social-icon-conainer i {
  display: inline-block;
  vertical-align: middle;
}
/* line 39, ../scss/modules/_footer.scss */
.m-footer-social .vk,
.m-footer-social .mailru {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #52789f;
}
/* line 45, ../scss/modules/_footer.scss */
.m-footer-social .vk span,
.m-footer-social .mailru span {
  display: inline-block;
  padding: 0 0.375rem;
  vertical-align: middle;
  color: #fff;
  font-size: 0.625rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
/* line 57, ../scss/modules/_footer.scss */
.m-footer-social .mailru {
  background-color: #3273b6;
}
/* line 62, ../scss/modules/_footer.scss */
.m-footer-development {
  float: right;
  margin: 0.4375rem 0 0 0;
}

/* line 1, ../scss/modules/_header-top.scss */
.m-head-top {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 9px 0;
}
/* line 8, ../scss/modules/_header-top.scss */
.m-head-top .row > div {
  margin-right: 22px;
}
/* line 11, ../scss/modules/_header-top.scss */
.m-head-top .row > div:last-child {
  margin-right: 0;
}
/* line 16, ../scss/modules/_header-top.scss */
.m-head-top a {
  border-bottom: 1px dashed #302c89;
  color: #302c89;
  font-size: 0.875rem;
  text-decoration: none;
}
/* line 28, ../scss/modules/_header-top.scss */
.m-head-top-phone .tel-number {
  display: inline-block;
  vertical-align: bottom;
  line-height: 13px;
}
/* line 40, ../scss/modules/_header-top.scss */
.m-head-top-consultation {
  position: relative;
  bottom: -1px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
/* line 48, ../scss/modules/_header-top.scss */
.m-head-top-m-head-look i.icons-star {
  width: 1rem;
  height: 1rem;
}
/* line 58, ../scss/modules/_header-top.scss */
.m-head-top-course .currency {
  margin-left: 2px;
  font-weight: 600;
  font-size: 0.91rem;
}
/* line 64, ../scss/modules/_header-top.scss */
.m-head-top-course .currency i {
  font-style: normal;
  font-weight: 600;
  color: #219cd7;
}

/* line 2, ../scss/modules/_header-main.scss */
.m-head-main {
  position: relative;
  padding: 0 20px;
  height: 3.8125rem;
}

/* line 10, ../scss/modules/_header-main.scss */
.m-head-main-logo {
  display: inline-block;
  height: 100%;
}
/* line 14, ../scss/modules/_header-main.scss */
.m-head-main-logo img {
  height: 100%;
}

/* line 1, ../scss/modules/_megamenu.scss */
.m-megamenu {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 0;
  height: 36px;
  background-color: #f7941d;
}

/* line 12, ../scss/modules/_megamenu.scss */
.list-in-content-block {
  margin: 0;
}

/* line 16, ../scss/modules/_megamenu.scss */
ul.m-megamenu {
  font-size: 14px;
}

/* line 20, ../scss/modules/_megamenu.scss */
li.megamenu-item {
  position: static;
  margin: 0;
  display: inline-block;
}
/* line 26, ../scss/modules/_megamenu.scss */
li.megamenu-item-red-bg {
  background-color: red;
}
/* line 31, ../scss/modules/_megamenu.scss */
li.megamenu-item:hover > .megamenu-item-content {
  display: flex;
}
/* line 35, ../scss/modules/_megamenu.scss */
li.megamenu-item:hover > a.megamenu-item-link {
  background-color: #219cd7;
}
/* line 42, ../scss/modules/_megamenu.scss */
li.megamenu-item:first-of-type a.megamenu-item-link:before {
  content: none;
}

/* line 48, ../scss/modules/_megamenu.scss */
a.megamenu-item-link {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 0.6875rem 0.6875rem;
  display: inline-block;
  line-height: 1;
  float: left;
  text-decoration: none;
  background-color: #f7941d;
  color: #fff;
}
/* line 63, ../scss/modules/_megamenu.scss */
a.megamenu-item-link-red-bg {
  background-color: red;
}
/* line 68, ../scss/modules/_megamenu.scss */
a.megamenu-item-link:before {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  margin-top: 0.4375rem;
  width: 0.0625rem;
  height: 1.4375rem;
  display: block;
  background: #fff !important;
}

/* line 85, ../scss/modules/_megamenu.scss */
.megamenu-item-content {
  position: absolute;
  top: 100%;
  z-index: 9999;
  padding: 20px 20px;
  display: none;
  background: #FFFFFF;
  white-space: nowrap;
}
/* line 96, ../scss/modules/_megamenu.scss */
.megamenu-item-content:hover {
  display: flex;
}

/* line 101, ../scss/modules/_megamenu.scss */
.item-content-block {
  display: inline-block;
  float: left;
  margin-right: 1.5625rem;
}

/* line 108, ../scss/modules/_megamenu.scss */
a.content-item-head {
  display: block;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.0625rem;
  text-decoration: underline;
  font-weight: 600;
}

/* line 117, ../scss/modules/_megamenu.scss */
ul.list-in-content-block {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.625rem;
  font-size: 0;
}
/* line 125, ../scss/modules/_megamenu.scss */
ul.list-in-content-block li {
  list-style: none;
  max-width: 12.5rem;
}
/* line 130, ../scss/modules/_megamenu.scss */
ul.list-in-content-block li a {
  color: #219cd7;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.0625rem;
  text-decoration: underline;
}

/* line 1, ../scss/modules/_with-breadcrumbs.scss */
.breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 5px;
  background-color: transparent;
  border: 0;
}
/* line 8, ../scss/modules/_with-breadcrumbs.scss */
.breadcrumbs *:before {
  font-size: 1rem;
  color: #000;
}

/* line 14, ../scss/modules/_with-breadcrumbs.scss */
.breadcrumbs-item {
  font-size: 0.75rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-transform: none;
  text-align: left;
}
/* line 19, ../scss/modules/_with-breadcrumbs.scss */
.breadcrumbs-item .bc-item-link {
  font-size: 0.75rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #219cd7;
  text-decoration: underline;
  text-transform: none;
  text-align: left;
}
/* line 27, ../scss/modules/_with-breadcrumbs.scss */
.breadcrumbs-item:before {
  margin: 0 4px;
}

/* line 32, ../scss/modules/_with-breadcrumbs.scss */
.title-with-breadcrumbs {
  margin: 0;
}

/* line 1, ../scss/modules/_search-option.scss */
.m-search-option {
  display: inline-block;
  margin-right: 0.625rem;
}

/* line 7, ../scss/modules/_search-option.scss */
.search-option-title {
  display: block;
  color: #000000;
  font-size: 1rem;
}

/* line 14, ../scss/modules/_search-option.scss */
.search-select {
  height: 30px;
  width: 164px;
}

/* line 3, ../scss/modules/_form-callback.scss */
.m-form-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 0.625rem;
  line-height: 1;
  color: #000000;
  font-size: 1.125rem;
}
/* line 13, ../scss/modules/_form-callback.scss */
.m-form-text {
  margin-bottom: 1.5rem;
  padding: 0 0.9375rem;
  color: #010102;
  font-size: 0.875rem;
  line-height: 1.4;
}
/* line 22, ../scss/modules/_form-callback.scss */
.m-form i {
  vertical-align: top;
}
/* line 26, ../scss/modules/_form-callback.scss */
.m-form-area {
  width: 15.625rem;
  padding: 1.25rem 1.875rem;
  border-radius: 0.3125rem;
  background-color: #60c2f1;
  text-align: center;
}
/* line 34, ../scss/modules/_form-callback.scss */
.m-form-area-title {
  line-height: 1.0625rem;
}
/* line 38, ../scss/modules/_form-callback.scss */
.m-form-area-answer {
  color: #fff;
  font-size: 0.75rem;
}
/* line 43, ../scss/modules/_form-callback.scss */
.m-form-area-put-email {
  text-align: center;
  color: #2f2483;
  font-size: 12px;
  text-decoration: underline;
}
/* line 50, ../scss/modules/_form-callback.scss */
.m-form-area i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  margin-top: 5px;
}
/* line 58, ../scss/modules/_form-callback.scss */
.m-form-area input, .m-form-area textarea {
  height: 1.875rem;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  display: inline-block;
  width: 88%;
  float: right;
}
/* line 68, ../scss/modules/_form-callback.scss */
.m-form button {
  margin: 0.6875rem auto 0;
}

/* line 1, ../scss/modules/_partners.scss */
.m-partners {
  margin-top: 15px;
}
/* line 4, ../scss/modules/_partners.scss */
.m-partners-title {
  margin: 0;
  margin-bottom: 12px;
  line-height: 1;
}
/* line 11, ../scss/modules/_partners.scss */
.m-partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 18, ../scss/modules/_partners.scss */
.m-partners-list-item a {
  text-decoration: none;
}

/* line 3, ../scss/modules/_article.scss */
.m-article {
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  position: relative;
  padding: 1.875rem;
  margin-bottom: 2.3125rem;
  font-size: 0;
}
/* line 13, ../scss/modules/_article.scss */
.m-article:last-child {
  margin-bottom: 0;
}
/* line 17, ../scss/modules/_article.scss */
.m-article-red-bordered {
  border: 1px solid #f7941d;
}
/* line 20, ../scss/modules/_article.scss */
.m-article-gray-bordered {
  border: 1px solid gray;
}
/* line 24, ../scss/modules/_article.scss */
.m-article .tag-article {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 0 0.75rem;
  height: 1.5625rem;
  margin-top: -0.75rem;
  line-height: 1.5625rem;
  color: #fff;
  font-size: 0.875rem;
}
/* line 38, ../scss/modules/_article.scss */
.m-article .tag-article-blue {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.75rem;
  background: #219cd7;
}
/* line 47, ../scss/modules/_article.scss */
.m-article .article-images-gallery {
  position: relative;
  height: 12.1rem;
  vertical-align: top;
  display: inline-block;
  width: 37%;
}
/* line 54, ../scss/modules/_article.scss */
.m-article .article-images-gallery-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 11px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  display: block;
}
/* line 66, ../scss/modules/_article.scss */
.m-article .article-images-gallery-counter i {
  vertical-align: middle;
}
/* line 70, ../scss/modules/_article.scss */
.m-article .article-images-gallery-counter .count-gallery-images {
  line-height: 1;
  display: inline-block;
  vertical-align: text-top;
  color: #fff;
  font-size: 14;
  font-weight: 100;
}

/* line 83, ../scss/modules/_article.scss */
.article-description {
  vertical-align: top;
  display: inline-block;
  max-width: 390px;
  margin-left: 22px;
}
/* line 89, ../scss/modules/_article.scss */
.article-description .article-title {
  line-height: 1;
  display: block;
  margin-bottom: 1.0625rem;
  color: #219cd7;
  font-size: 0.875rem;
}
/* line 99, ../scss/modules/_article.scss */
.article-description .article-text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/* line 105, ../scss/modules/_article.scss */
.article-description .links-block {
  height: 4.375rem;
  margin-top: 1.625rem;
}
/* line 109, ../scss/modules/_article.scss */
.article-description .links-block .in-links-block {
  display: inline-block;
  margin-bottom: 0.75rem;
  vertical-align: top;
  width: 45%;
}
/* line 115, ../scss/modules/_article.scss */
.article-description .links-block .in-links-block i {
  vertical-align: top;
  margin-right: 0.625rem;
}
/* line 121, ../scss/modules/_article.scss */
.article-description .links-block .links-block-link {
  display: inline-block;
  max-width: calc(100% - 26px);
  line-height: 1;
}
/* line 126, ../scss/modules/_article.scss */
.article-description .links-block .links-block-link a {
  line-height: 1;
  color: #219cd7;
  font-size: 0.875rem;
}

/* line 4, ../scss/modules/_tours-lists.scss */
.m-tours-lists {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  margin-top: 1.875rem;
  padding: 1.0625rem 0 1.625rem 1.25rem;
  vertical-align: top;
  width: 60.9%;
  background: no-repeat url("../images/trust-us-cloud-bg.png");
}
/* line 14, ../scss/modules/_tours-lists.scss */
.m-tours-lists-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1.375rem !important;
  width: 100%;
}
/* line 22, ../scss/modules/_tours-lists.scss */
.m-tours-lists-list-item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
}
/* line 27, ../scss/modules/_tours-lists.scss */
.m-tours-lists-list-item .list-name {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 600;
}
/* line 34, ../scss/modules/_tours-lists.scss */
.m-tours-lists-sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 39, ../scss/modules/_tours-lists.scss */
.m-tours-lists-sublist-item {
  line-height: 1.25rem;
}

/* line 1, ../scss/modules/_trust-us.scss */
.m-trust-us {
  width: 38%;
  padding: 0 0 0 1.25rem;
  margin-top: 1.25rem;
}
/* line 6, ../scss/modules/_trust-us.scss */
.m-trust-us-title {
  margin-bottom: 1rem;
  margin-top: 0.4375rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.25rem;
}
/* line 14, ../scss/modules/_trust-us.scss */
.m-trust-us-images img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 3%;
  margin-bottom: 0.9375rem;
  width: 20.9%;
}
/* line 23, ../scss/modules/_trust-us.scss */
.m-trust-us-stat {
  margin-bottom: 0.9375rem;
}
/* line 26, ../scss/modules/_trust-us.scss */
.m-trust-us-stat div {
  width: 45%;
}

/* line 1, ../scss/modules/_pagination.scss */
.m-pagination {
  margin-top: 29px;
  margin-bottom: 25px;
}
/* line 5, ../scss/modules/_pagination.scss */
.m-pagination-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 9, ../scss/modules/_pagination.scss */
.m-pagination-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 22px;
  width: 22px;
  background-color: #219cd7;
  text-align: center;
  color: #FFF;
  font-size: 14px;
}
/* line 22, ../scss/modules/_pagination.scss */
.m-pagination-link:hover {
  background-color: #f7941d;
}
/* line 26, ../scss/modules/_pagination.scss */
.m-pagination-link .fa-backward,
.m-pagination-link .fa-forward {
  margin-left: 4px;
  vertical-align: middle;
  font-size: 10px;
}
/* line 34, ../scss/modules/_pagination.scss */
.m-pagination-link .fa-backward {
  margin-right: 6px;
}

/* line 1, ../scss/state/_index.scss */
.hidden {
  visibility: hidden;
}

/* line 4, ../scss/state/_index.scss */
.none {
  display: none;
}

/* line 7, ../scss/state/_index.scss */
.clear {
  clear: both;
}

/* line 10, ../scss/state/_index.scss */
.current {
  color: #000;
  text-decoration: none;
  pointer-events: none;
}

/* line 17, ../scss/state/_index.scss */
.m-pagination .active,
.m-pagination .end {
  background-color: #dfddde;
  cursor: default;
  pointer-events: none;
}

@font-face {
  font-family: 'PFDinTextCondPro-bold';
  src: url("../fonts/pfdintextcondpro-bold-webfont.eot");
  src: url("../fonts/pfdintextcondpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-bold-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-bold-webfont.ttf") format("truetype"), url("../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/pfdintextcondpro-regular-webfont.eot");
  src: url("../fonts/pfdintextcondpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
