@import "utilities/classes.scss";

@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

.pagination {
  margin-top: 29px;
  &>div {
    margin-bottom: 25px;
  }

  ul {
    @extend %resset-ul;

    li {
      @include inline-block;
  
      a {
        @include inline-block;
        @include border-radius(20px);

        height: 22px;
        width: 22px;

        background-color: #219cd7;

        text-align: center;
        color: #FFF;
        font-size: 14px;

        &:hover {
          background-color: #f7941d;
        }

        &.active,
        &.end {
          background-color: #dfddde;

          cursor: default;
          pointer-events: none;
        }

        .fa-backward,
        .fa-forward {
          margin-left: 4px;

          vertical-align: middle;
          font-size: 10px;
        }

        .fa-backward {
          margin-right: 6px 
        }
      }
    }
  }
}