main.static{
  max-width:1100px;
  min-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  h2 {
    margin-left: 10px;
    font-family: 'PFDinTextCondPro', sans-serif;
    font-size: 26px;
  }
  img{
    margin: 0 10px 10px 0;
  }
}