.hidden {
  visibility: hidden;
}
.none{
  display: none;
}
.clear{
  clear: both;
}
.current {
  color: #000;
  text-decoration: none;
  pointer-events: none;
}

.m-pagination {
	.active,
  .end {
    background-color: #dfddde;

    cursor: default;
    pointer-events: none;
  }
}