@import "utilities/settings";

@import "compass/css3/border-radius";
@import "compass/layout/stretching";
@import "compass/css3/columns";

.image {
  position: relative;
  width: 100%;
  height: 12.1rem;
  vertical-align: top;

  span {
    @include stretch(false, 0, 0, false);
    @include border-radius(3px);

    padding: rem-calc(6) rem-calc(11);

    cursor: pointer;
    background: rgba(0,0,0,0.7);
    pointer-events: none;
    display: block;

    i {
      display: inline-block;
      vertical-align: middle;
    }

    b {
      line-height: 1;
      display: inline-block;
      vertical-align: text-top;
      color:  #fff;
      font-size: rem-calc(14);
      font-weight: 100;
    }
  }

  a {
    position: absolute;
    display: block !important;
    top: 0px;
    left: 0px;
  }
}

.education-institute-main-block {
  @include border-radius(rem-calc(5));

  position: relative;

  padding: rem-calc(30);
  margin-bottom: rem-calc(37);

  border: 1px solid #f7941d;

  font-size: 0;

  &:last-child {
    margin-bottom: 0;
  }

  .links {
    margin-top: rem-calc(20);

    & > span {
      margin-right: rem-calc(15);
      margin-bottom: rem-calc(12);

      font-size: 0;

      i {
        vertical-align: top;
        margin-right: rem-calc(10);
      }

      span {
        display: inline-block;
        max-width: calc(100% - 26px);
        line-height: 1;

        a {
          line-height: 1;

          color:  #219cd7;
          font-size: rem-calc(14);
        }

        p {
          display: inline-block;
          margin: 0;

          color:  #000;
          font-size: rem-calc(14);

          &:first-child {
            margin-top: rem-calc(-4);
          }
        }
      }


      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  .tag {
    @include border-radius(rem-calc(5));

    display: block;
    padding: 0 rem-calc(12);

    height: rem-calc(25);

    margin-top: rem-calc(-12);


    line-height: rem-calc(25);
    color:  #fff;
    font-size: rem-calc(14);

    &.country {
      @include stretch(0, false, false, 0);

      margin-left: rem-calc(28);

      background: #219cd7;
    }

    &.hot {
      @include stretch(0, 0, false, false);

      margin-right: rem-calc(18);

      background: #f7941d;
    }
  }

  .left-block {
    display: inline-block;
    width: 37%;

    .links {

      span {
        display: inline-block;
      }
    }
  }


  .description {
    vertical-align: top;
    display: inline-block;
    max-width: rem-calc(390);
    margin-left: rem-calc(22);

    a.title {
      line-height: 1;
      display: block;

      margin-bottom: rem-calc(17);

      color:  #219cd7;
      font-size: rem-calc(14);
    }

    p {
      color:  #000000;
      font-size: rem-calc(14);
      line-height: rem-calc(20);
    }

    .links {
      @include column-count(2);
      @include column-gap(rem-calc(30));

      height: rem-calc(70);
      margin-top: rem-calc(26);

      & > span {
        display: block;
        width: rem-calc(200);
      }
    }
  }
}