@import "utilities/settings";

.modal_window {
  width: 631px;
  padding: 0;
  border-radius: 5px;
  background-color:  #ffffff;
  border: 6px solid #f7941d;
  font-family: 'PFDinTextCondPro', sans-serif;

  &.header {
    
    input,
    textarea {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 30px;
    }

    .footer  {
      margin-top: 0;
    }

    &.success_report.hide_message {
      width: 430px;

      .wrap_content {
        padding: 50px;
        padding-bottom: 0;

        h2 {
          margin-bottom: 20px;

          font-size: rem-calc(24);
          font-family: 'PFDinTextCondPro', sans-serif;
          font-weight: 900;
        }

        p {
          padding: 0;
          font-family: 'PFDinTextCondPro', sans-serif;
          font-size: rem-calc(18);
          line-height: 1;

          i {
            font-size: rem-calc(18);
            line-height: 1;
            font-family: 'PFDinTextCondPro', sans-serif;
          }
        }
      }
    }
  }

  textarea {
    height: 75px;
    resize: none; 
  }

  input,
  textarea {
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    height: 29px;
    width: 100%;
    margin-bottom: 10px;

    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    text-indent: 0px;
  }

  a.close-reveal-modal {
    height: 22px;
    padding-top: 1px;
    width: 22px;

    background-color:  #219cd7;
    border-radius: 50%;
    
    color: #fff;
    font-size: 18px;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 0;
    line-height: 1;
    
    font-size: rem-calc(20);
    font-family: 'PFDinTextCondPro', sans-serif;
  }

  &.hide_message {
    width: 391px;

    .user_data {
      width: 100%;
    }

    .user_message {
      display: none;
    }

    span.price {
      top: 85px;
      right: 57px;
    }
  }

  .wrap_content {
    position: relative;

    padding: 30px 50px;
  }

  h3 {
    margin-bottom: 3px;

    font-size: 20px;
    font-weight: 300;
  }

  span {
    display: block;
    margin-bottom: 25px;
    color:  #000000;
    font-size: 14px;
  }


  span.price {
    @include stretch(40px, 72px, false, false);
    margin-bottom: 0;

    color:  #219cd7;
    font-size: 31.78px;
  }

  .user_data, .user_message {
    padding: 0;
  }
  
  .dropdown {
    height: 29px;

    .selected, li {
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    }

    div {

      ul {
        padding-left: 0;
      }
    }
  }
  
  .user_data {

    padding-right: 10px;
    .choose_date_one .wrap_date_to{
      width: 46%;
    }
    & > .dropdown {
      width: 110px;
    }
    span{
      margin-bottom: 0;
      margin-top: -4px;
    }
    .count_person {
      margin-bottom: 10px;
      .dropdown:first-child {
        display: block;
        width: 100%;
      }
      input, span.tickets, .dropdown {
        display: none;
      }
    }
    
    .dropdown, input {
      span.carat {
        padding: 0;
      }
    }

    span {
      padding-left: 7px;
      font-size: 10px;
    }

    a#open_message {
      color:  #219cd7;
      font-size: 12px;
      line-height: 29.116px;
      text-decoration: underline;
    }
  }

  .user_message {
    padding-top: 40px;

    textarea {
      border-radius: 5px;
      height: 121px;
      padding-left: 10px;
      width: 235px;
      margin: 0;

      color:  #000;
      font-size: 14px;
    }

    a {
      color: #219cd7;
      font-size: 12px;
      margin-top: 5px;
      display: block;
      text-decoration: underline;
    }
  }


  .bottom {
    height: 23px;
    margin-top: 10px;
    padding-left: 0px;

    span:nth-child(1) {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 0;
      vertical-align: top;
      &:first-letter {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-weight: 600;
      }
    }
    .dropdown {
      display: inline-block;
      border: none;
      width: 103px;
      position: relative;
      top: 6px;
      left: -3px;

      .selected, li {
        height: 25px;
        padding: 6px 12px;
        color:  #219cd7;
        font-size: 16px;
        text-decoration: underline;
        line-height: 1;

        &:before {
          display: none;
        }

      }

      
      span.carat {
        right: 16%;
        top: 61%;
        border: 4px solid transparent;
        border-top: 7px solid #000;
      }
      

      div {
        ul {
          padding-left: 0;
          padding-bottom: 5px;
        }
      }

      &:hover {
        background-color:  transparent;
        border: none;
        outline: none;
      }

      &.open {

        span.carat {
          margin-top: -4px; 
        }
      }

      &.open {

        &:hover {
          background-color: #fff;
        }
      }
    }
  }


  .footer {
    position: relative;

    height: 87px;
    margin-top: 23px;
    
    background-color:  #f7dfc2;

    button {
      @include stretch(0, 0, 0, 0);

      display: block;
      height: 43px;
      margin: auto;
      padding-top: 5px;
      width: 243px;
    
      border-radius: 5px;
      background-color:  #f71d1d;
      
      color:  #ffffff;
      font-size: 17px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.individual_tour {
  .user_data {
    padding-right: 10px;
    .dropdown:first-child {
      width: 100%;
      margin: 10px 0;
    }
  }

  .user_message {
    padding-top: 10px;
  }
}


.success_report {
  width: 391px;
  
  .wrap_content  {
    padding: 30px 42px;
  }

  h3 {
    
  }
  p {
    padding: 20px;
    padding-bottom: 0px;
    color:  #000000;
    font-size: 14px;
    text-align: center;
  }

  .footer {
    margin-top: 0px;
    background-color:  #fff;
    button {
      width: 183px;
      background-color:  #039cd7;
    }
  }
}


.ticket_one {
  .user_data { 

    .count_person{
      .dropdown:first-child {
        display: none;
      }
      .dropdown, span.tickets, input {
        display: inline-block;
      }
      span.tickets {
        font-size: 14px;
      }
      .dropdown {
        width: 101px;
        height: 29px;
        vertical-align: top;
        .selected, li {
          line-height: 24px;
        }
      }
      input[type="number"] {
        width: 41px;
        height: 29px;
        padding: 2px 2px 2px 8px;
      }
    }
    div.dropdown.open span.carat {
      margin-top: -6px;
    }
  }
}

