@import "utilities/settings";

@import "compass/layout/stretching";
@import "compass/css3/transform";

.sqare{
  position: relative;

  &:before {
    @include rotate(45deg);
    @include stretch(50%, 7px, false, false);
    content: '';
    margin-top: -7.5px;
    width: 9px;
    height: 9px;
    display: block;
    background: #fff;
  }
}