.m-search-option {
  display: inline-block;

  margin-right: rem-calc(10);
}

.search-option-title {
  display: block;

  color: #000000;
  font-size: 1rem;
}

.search-select {
  height: 30px;
  width: 164px;
}
  

